.pokemon-card {
  background: rgb(231, 227, 227);
  transition: all 0.3s ease;
}

.pokemon-card:hover {
  background-color: #b9b1b1;
  transform: scale(1.05);
  cursor: pointer;
}

.backArrow{
  transition: all 0.3s ease;
}

.backArrow:hover{
  transform: scale(1.2);
}